<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แก้ใขรายการเเจ้งซ่อม</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        window.onload = function() {
            const equipments = document.getElementById("equipments");

            equipments.addEventListener('change', (event) => {
                console.log("aa");
                if (equipments.value == 5) {
                    document.getElementById("other").removeAttribute('disabled');
                    document.getElementById("other").required = true;
                } else {
                    document.getElementById("other").setAttribute('disabled', '');
                    document.getElementById("other").required = false;
                }
            });
        };
    </script>
</head>

<body>
    <section class="container mb-3" style="margin-top: 50px;">
        <% if (locals.editRepair_errors) { editRepair_errors.forEach(function(error_msg){ %>
        <div class="alert alert-danger" role="alert">
            <%= error_msg %>
        </div>
        <% }); } %>
        <a href="/repair" class="btn btn-primary mb-4"><i class='bx bx-arrow-back'></i> Back</a>
        <div class="card">
            <div class="card-header">
                เพิ่มรายการเเจ้งซ่อม
            </div>
            <div class="card-body">
                <form action="/repair/update/<%= repairs[0].repair_id %>" method="post" class="needs-validation mb-3" novalidate id="formA" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="exampleFormControlInput1">ชื่อ-นามสกุล*</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= repairs[0].name %>" readonly required>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1">วัน / เวลาเเจ้งซ่อม*</label>
                            <div class="input-group mb-3">
                                <input type="text" value="" id="datetime_repair" name="datetime_repair" class="form-control" required readonly>
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                <script>
                                    const dt = '<%= repairs[0].datetime_repair %>';
                                    const date = new Date(dt);
                                    const year = date.getFullYear();
                                    const month = String(date.getMonth() + 1).padStart(2, '0');
                                    const day = String(date.getDate()).padStart(2, '0');
                                    const hours = String(date.getHours()).padStart(2, '0');
                                    const minutes = String(date.getMinutes()).padStart(2, '0');
                                    const seconds = String(date.getSeconds()).padStart(2, '0');

                                    const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

                                    document.getElementById('datetime_repair').value = formattedDate;
                                    // console.log(formattedDate);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div>
                                <label for="exampleFormControlSelect1">เลือกอาคาร*</label>
                                <select class="form-select" id="exampleFormControlSelect1" name="buildings" required>
                                    <% for(let i=0; i < buildings.length; i++) { %>
                                    <% if (buildings[i].id == repairs[0].building_id) { %>
                                    <option value="<%= buildings[i].id %>" selected>
                                        <%= buildings[i].building_name %>
                                    </option>
                                    <%} else { %>
                                    <option value="<%= buildings[i].id %>">
                                        <%= buildings[i].building_name %>
                                    </option>
                                    <% } %>
                                    <% } %>
                                </select>
                                <div class="invalid-feedback">
                                    Please select.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <label for="exampleFormControlSelect1">เลือกห้อง*</label>
                                <select class="form-select" id="exampleFormControlSelect1" name="rooms" required>
                                    <% for(let i=0; i < rooms.length; i++) { %>
                                    <% if (rooms[i].id == repairs[0].room_id) { %>
                                    <option value="<%= rooms[i].id %>" selected>
                                        <%= rooms[i].room_name %>
                                    </option>
                                    <%} else { %>
                                    <option value="<%= rooms[i].id %>">
                                        <%= rooms[i].room_name %>
                                    </option>
                                    <% } %>
                                    <% } %>
                                </select>
                                <div class="invalid-feedback">
                                    Please select.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">เลือกรายการของแจ้งซ่อม*</label>
                        <select class="form-select" required id="equipments" name="equipments">
                            <% for(let i=0; i < equipments.length; i++) { %>
                            <% if (equipments[i].id == repairs[0].equipment_id) { %>
                            <option value="<%= equipments[i].id %>" selected>
                                <%= equipments[i].equipment_name %>
                            </option>
                            <%} else { %>
                            <option value="<%= equipments[i].id %>">
                                <%= equipments[i].equipment_name %>
                            </option>
                            <% } %>
                            <% } %>
                        </select>
                        <div class="invalid-feedback">
                            Please select.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">อื่นๆ</label>
                        <% if (repairs[0].equipment_id != 5) { %>
                        <textarea class="form-control" rows="2" disabled id="other" name="other"></textarea>
                        <%} else { %>
                        <textarea class="form-control" rows="2" id="other" name="other"><%= repairs[0].other %></textarea>
                        <% } %>
                        <div class="invalid-feedback">
                            Please input.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1">รายละเอียดการเเจ้งซ่อม*</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="details"><%= repairs[0].details %></textarea>
                        <div class="invalid-feedback">
                            Please input.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Choose file</label>
                        <input class="form-control" type="file" name="image" id="image">
                    </div>
                    <% if (repairs[0].status == 1) { %>
                    <div class="mb-3 d-inline">
                        <button type="submit" class="btn btn-primary"><i class='bx bx-add-to-queue'></i>
                            แก้ใขรายการเเจ้งซ่อม</button>
                    </div>
                    <% } %>
                    <span>
                        <% if (repairs[0].status == 1 && role == 1) { %>
                        <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">ซ่อม</button> -->
                        <a class="btn btn-primary">รับงานซ่อม</a>
                        <%} else if(repairs[0].status == 2 && role == 1) { %>
                        <a href="#" class="btn btn-success">ซ่อมเสร็จสิ้น</a>
                        <% } %>
                    </span>
                </form>
                <!-- <div class="modal fade" tabindex="-1" id="exampleModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="#">
                                    <select class="form-select" aria-label="Default select example">
                                        <option hidden>เลือกช่างซ่อม</option>
                                        <% for(let i=0; i < repairmans.length; i++) { %>
                                        <option value="<%= repairmans[i].id %>">
                                            <%= repairmans[i].repairman_name %>
                                        </option>
                                        <% } %>
                                    </select>
                                    <input type="submit" value="เพื่อ">
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <img src="../../uploads/<%= repairs[0].img %>" alt="" class="img-thumbnail">
            <script>
                (function() {
                    'use strict'
                    var forms = document.querySelectorAll('.needs-validation')
                    Array.prototype.slice.call(forms)
                        .forEach(function(form) {
                            form.addEventListener('submit', function(event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })()
            </script>
        </div>
        </div>
    </section>
</body>

</html>